<h1>薄い本リスト(タイトル)</h1>

<%= image_tag "pronama01.png" %>

<!-- 一覧へのリンク -->

<h4><%= link_to "薄い本一覧へ", magazines_path %></h4>
<!--
<h4><%= link_to "原作一覧へ", origin_path %></h4>
<h4><%= link_to "作者一覧へ", author_path %></h4>
<h4><%= link_to "サークル一覧へ", circle_path %></h4>
-->
